
// Lazyline.js Styles
.st0 {
    display: none;
  }

  .st1 {
    fill: #FFFFFF;
    stroke: #E6D6D3;
    stroke-width: 18;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: #FFFFFF;
    stroke: #E6D6D3;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
