/* ----------Basic settings----------- */
// Global Styles
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    scroll-behavior: smooth;
}
// Body Styles
body html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            font-family: 'Arvo', serif;
            height: 100%; 
            color: $fontColor; 
            overflow: hidden;       
}
// Main Section All Pages
#main {
    width: 100vw;
    max-width: 1600px;
    height: 100%;
    background: $mainBgColor;
    font-family: 'Arvo', serif;
}
// Reset Button Focus Globally 
.btn:focus, .btn.focus{
    outline: none !important;
    box-shadow: none !important;
}
// Reset Anchor Links Globally 
a {
    color: $fontColor !important;
    text-decoration: none !important;
    background-color: transparent;

    &:hover {
        cursor: pointer;
        text-decoration: none;
        border-bottom: none;
    }
    &:focus {
        outline: none;
    }
}
// Reset Focus Outline Globally 
*:focus {
    outline: none;
}
// Hidden content 
.hidden--content {
    visibility: hidden;
}