#about > div > div > div.col-sm.col-md-6.container__copy--about.container__works--post-copy {
    background: $bgColor;
     p {
         font-family: 'Arvo', sans-serif;
         font-size: 14px;
         color: $secondaryFontColor;
         border: none;
         text-align: left;
     }
}

#img--macbook {
   height: 306px;
    background: url(/images/workPosts/workPostOne/worksPostOneMacBook.png)no-repeat center ;
    background-size: contain;
}
#img--iphone {
    height: 306px;
     background: url(/images/workPosts/workPostOne/worksPostOneIphone.png)no-repeat center ;
     background-size: contain;
 }


