#main h3 {
    color: $fontColor;
    font-weight: 510;
}

img[alt="process image"] {
    &:hover {
        transform: scale(1.1);
    }
}
// Section Testimonial
section.testimonial {
    height: 100%;
    width: 100%;

    .container {
        background: $bgColor;
        height: 400px;
        width: 100%;

        .container__copy--testimonial {
            width: 50%;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-left: 8px solid $mainBgColor;
            height: 80%;

            p {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-left: 12px;
                width: 100%;
                color: $secondaryFontColor;

                // &::before {
                //     content: '"';
                //     font-size: 22px;
                //     color: $fontColor;
                // }

                @media screen and (min-width: 768px) {
                    width: 80%;
                }
            }

            

            @media screen and (min-width: 320px) {
                width: 100%;
            }
        }
    }
}

//  Works Post page 00 Credit Card Checkout 

#about>div>div>div.col-sm.col-md-6.container__copy--about.container__works--post-copy {
    background: $bgColor;

    p {
        font-family: 'Arvo', sans-serif;
        font-size: 14px;
        color: $secondaryFontColor;
        border: none;
        text-align: left;
    }
}

#works--testimonial {
    margin-top: -4rem;
    overflow: hidden;

    @media all and (min-width: 768px) {
        margin-top: -.4rem;
    }
}

#img--macbook {
    height: 306px;
    background: url(/images/creditCardCheckout/Web.svg)no-repeat center;
    background-size: contain;

    @media all and (min-width: 768px) {
        height: 406px;
    }
    @media all and (min-width: 1440px) {
        height: 506px;
    }
}

#img--iphone {
    height: 306px;
    background: url(/images/creditCardCheckout/iPhone.svg)no-repeat center;
    background-size: contain;

    @media all and (min-width: 768px) {
        height: 406px;
    }

    @media all and (min-width: 1440px) {
        height: 416px;
    }
}

img[alt="i-pad app post image"] {
    width: 408px;
    margin: 0 auto;
    padding: 6px;

    @media all and (min-width: 320px) {
        width: 280px
    }

    @media all and (min-width: 375px) {
        width: 340px
    }
    @media all and (min-width: 375px) {
        width: 388px
    }

    @media all and (min-width: 768px) {
        width: 408px;
        position: absolute;
        top: 1.2rem;
        left: -9rem;
    }

    @media all and (min-width: 1024px) {
        width: 468px;
        position: absolute;
        left: -8rem;
    }

    @media all and (min-width: 1440px) {
        width: 508px;
        position: absolute;
        left: -7rem;
        top: 5rem;
    }
}

// Works Post Page 01 Business Site Template 
#img--macbook-01 {
    height: 306px;
    background: url(/images/businessSiteTemplate/Images/web.png)no-repeat center;
    background-size: contain;

    @media all and (min-width: 768px) {
        height: 406px;
    }
    @media all and (min-width: 1440px) {
        height: 506px;
    }
}

#img--iphone-01 {
    height: 306px;
    background: url(/images/businessSiteTemplate/Images/iPhone.png)no-repeat center;
    background-size: contain;

    @media all and (min-width: 768px) {
        height: 406px;
    }

    @media all and (min-width: 1440px) {
        height: 416px;
    }
}
// Works Post Page 02 Card Farm 
#img--macbook-02 {
    height: 306px;
    background: url(/images/cardFarm/Images/cardFarmWeb.png)no-repeat center;
    background-size: contain;

    @media all and (min-width: 768px) {
        height: 406px;
    }
    @media all and (min-width: 1440px) {
        height: 506px;
    }
}

#img--iphone-02 {
    height: 306px;
    background: url(/images/cardFarm/Images/cardFarmiPhone.png)no-repeat center;
    background-size: contain;

    @media all and (min-width: 768px) {
        height: 406px;
    }

    @media all and (min-width: 1440px) {
        height: 416px;
    }
}

// Works Post Page 03 Doctor Who Dice Game 
#img--macbook-03 {
    height: 306px;
    background: url(/images/doctorWhoDiceGame/Images/doctorWhoDiceGameWeb.png)no-repeat center;
    background-size: contain;

    @media all and (min-width: 768px) {
        height: 406px;
    }
    @media all and (min-width: 1440px) {
        height: 506px;
    }
}

#img--iphone-03 {
    height: 306px;
    background: url(/images/doctorWhoDiceGame/Images/doctorWhoDiceGameiPhone.png)no-repeat center;
    background-size: contain;
    transform: rotate(270deg);

    @media all and (min-width: 768px) {
        height: 406px;
    }

    @media all and (min-width: 1440px) {
        height: 416px;
    }
}
// Works Post Page 04 Creative Agency Theme 
#img--macbook-04 {
    height: 306px;
    background: url(/images/creativeAgency/Images/creativeAgencyWeb.png)no-repeat center;
    background-size: contain;

    @media all and (min-width: 768px) {
        height: 406px;
    }
    @media all and (min-width: 1440px) {
        height: 506px;
    }
}

#img--iphone-04 {
    height: 306px;
    background: url(/images/creativeAgency/Images/creativeAgencyiPhone.png)no-repeat center;
    background-size: contain;

    @media all and (min-width: 768px) {
        height: 406px;
    }

    @media all and (min-width: 1440px) {
        height: 416px;
    }   
}

